/* Navbar.css */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.logo img {
    height: 50px;
    margin-left: 30%;
}

.nav-items {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 10%;
    font-size: 18px;
}

.nav-item {
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none;
}

.nav-item:hover {
    color: #ffcc00;
}

button {
    padding: 12px 30px;
    background-color: #0e38f6;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
    border-radius: 10px;
    font-size: 15px;
}


